<footer class="_2em-padding-wrapper black">
    <div class="w-layout-grid footer-grid">
      <div id="w-node-_842c433a-d429-fa63-ac26-ebd5daa4eac5-daa4eac3"><img src="{{ images.-234fb6b0.url }}" loading="lazy" alt="{{ images.-234fb6b0.alt | trim | escape }}"></div>
      <div id="w-node-_842c433a-d429-fa63-ac26-ebd5daa4eac7-daa4eac3">
        <div class="footer-text">{{ texts.-5a53a018 }}<br>{{ texts.5d9285cc }}</div>
      </div>
      <div id="w-node-_842c433a-d429-fa63-ac26-ebd5daa4eacc-daa4eac3">
        <div class="footer-text">{{ texts.7f4c9bff }}<br>{{ texts.-287021e3 }}</div>
      </div>
      <div id="w-node-_842c433a-d429-fa63-ac26-ebd5daa4ead1-daa4eac3">
        <h3 class="white-text">{{ texts.-3c6ed90c }}</h3>
        <div class="form-block w-form">
          <form id="email-form" name="email-form" data-name="email" action="https://wassaicproject.us6.list-manage.com/subscribe/post?u=f22b5d3cea&amp;amp;id=8f184196b9" method="post" class="form" data-ajax="true"><input type="email" class="text-field w-input" maxlength="256" name="Email-Address" data-name="Email Address" placeholder="Email Address" id="Email-Address" required=""><input type="submit" value="Sign Up" data-wait="Please wait..." class="submit-button w-button"></form>
          <div class="success-message w-form-done">
            <div>{{ texts.-13bb4c0b }}</div>
          </div>
          <div class="error-message w-form-fail">
            <div>{{ texts.67baad5f }}</div>
          </div>
        </div>
      </div>
      <div id="w-node-_842c433a-d429-fa63-ac26-ebd5daa4eade-daa4eac3">
        <div class="footer-text">{{ texts.-7d208476 }}<br>{{ texts.614b288f }}</div>
      </div>
      <div id="w-node-_842c433a-d429-fa63-ac26-ebd5daa4eae3-daa4eac3">
        <div class="footer-text">{{ texts.-78fbbf6 }}<br>{{ texts.-37a66120 }}<br>{{ texts.-64a20fe3 }}</div>
      </div>
    </div>
  </footer>