<div class="marquee-horizontal">
    <div class="marquee-horizontal-css w-embed">
      <style>
.track-horizontal {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee-horizontal 40s linear infinite;
  /* manipulate the speed of the marquee by changing "40s" line above*/
}
@keyframes marquee-horizontal {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
</style>
    </div>
    <div class="track-horizontal">
      <div class="marquee-text">{{ texts.-1ade839d }}</div>
      <div class="marquee-text">{{ texts.-9462ef9 }}</div>
      <div class="marquee-text">{{ texts.-2248c1d4 }}</div>
      <div class="marquee-text">{{ texts.-6382f5c1 }}</div>
      <div class="marquee-text">{{ texts.-ea5d6fa }}</div>
      <div class="marquee-text">{{ texts.-9462ef9 }}</div>
    </div>
  </div>